html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Css 커스텀 시작 */

:root {
	/* Color */
	--black--color:#141414;
	--white--color:#fff;
	--dark--gray--color:#e5e5e5;
	--gray--btn--color:rgba(109,109,110,0.7);

	/* Font Size */
	--font--extra--large:20px;
	--font--large:18px;
	--font--extra--medium:16px;
	--font--medium:14px;

	/* margin */
	--margin--size:20px;
}
html {
	font-size: 10px;
}

body {
	background-color: black;
	width: 100%;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

a {
  /* a태그 밑줄 제거 */
  text-decoration: none;
}


/* Header 시작 */
header {
	display: flex;
	height: 68px;
	align-items: center;
	padding: 0 4%;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;	
}

header #main_logo a img {
	width: 92.5px;
	height: 25px;
	margin-right: 25px;
}

header #category {
	flex: 1;
}

header #category ul {
	display: flex;
}

header #category ul li a {
	margin-left: var(--margin--size);
	color: var(--dark--gray--color);
	font-size: var(--font--medium);
}

header #category ul li a.active {
	color: var(--white--color);
}

header #btn_end {
	display: flex;
	align-items: center;
}

header #btn_end a {
	color: var(--white--color);
}

header #btn_end .btn_end_child {
	margin-right: var(--margin--size);
}

header #btn_end #search_btn {
	font-size: var(--font--large);
	padding: 0 6px;
}

header #btn_end #kids {
	font-size: var(--font--medium);
}

header #btn_end #notification {
	font-size: var(--font--extra--large);
	padding: 0 6px;
}

header #btn_end #user_toggle {
	display: flex;
}

header #btn_end #user_toggle img {
	border-radius: 4px;
}

header #btn_end #user_toggle button {
	color: var(--white--color);
	margin-left: calc(var(--margin--size) / 3);
	font-size: var(--font--extra--medium);
}
/* Header 끝 */


/* Main 시작 */

/* Main - Top Contents */
#top_contents img {
	width: 100%;
	position: relative;
	top: 0;
}

#top_contents_wrapper {
	position: absolute;
	z-index: 2;
	top: 9vw;
	height: 92%;
	border: 1px solid blue;
}

#top_img_metadata {
	padding-left: 4%;
	width: 36%;
}

#top_img_metadata_title {
	/* 임시 border */
	border: 1px solid red;
}

#top_img_metadata_title img {
	min-height: 13.2vw;
	margin-bottom: 1.2vw;
}

#top_img_metadata_contents {
	margin-top: .5vw;
	color: var(--white--color);
	font-size: 1.4vw;
	line-height: normal;
	/* 임시 border */
	border: 1px solid yellow;
}

#top_img_metadata_btns {
	margin-top: 1.5vw;
	/* 임시 border */
	border: 1px solid orange;
	display: flex;
}

#top_img_metadata_btns .metadata_btn {
	padding: 1.3rem 3.7rem 1.3rem 3.3rem;
	border-radius: 4px;
	font-size: 1.6rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

#top_img_metadata_btns #play_link #play_btn {
	background-color: var(--white--color);
	color: var(--black--color);
	display: flex;
}

#top_img_metadata_btns .btn_space {
	width: 1rem;
}

#top_img_metadata_btns #detail {
	display: flex;
	background-color: var(--gray--btn--color);
	color: var(--white--color);
}

/* Main - Famous Contents */

.contents_div {
	margin-top: 3vw;
	
	/* 임시 border */
	border: 1px dotted skyblue;
}

.contents_div h2 {
	margin-bottom: 1.5rem;
	padding: 0 4%;
}

.contents_div .contents_title {
	color: var(--white--color);
	font-size: 1.4vw;
}

.contents_grid .slider {
	border: 1px springgreen solid;
	padding: 0 4%;
}

.slider_contents {
	display: flex;
	justify-content: space-between;
}

#famous_contents {
	width: 100%;
	position: absolute;
	bottom: 2vw;
}

#famous_contents .slider_contents .slider_item {
	/* 임시 */
	border: 1px solid pink;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15vw;
}

.slider_contents .slider_item img {
	border-radius: 4px;
}

.slider_contents .slider_item .progress_bar {
	height: 6px;
	width: 60%;
	margin-top: 3%;
}

progress::-webkit-progress-value { background: red; }


/* Main - Playing Contents */
.slider_contents .slider_item a img {
	width: 15vw;
}

#top10_contents .slider_item {
	border: 1px solid pink;
	width: 15vw;
}

#top10_contents .slider_item a {
	display: flex;
}


#top10_contents .slider_item img {
	width: 50%;
}

/* Main - my favorite category */
#my_favorite_category_contents .slider_contents .slider_item {
	width: 12.5vw;
	height: 12.5vw;
	position: relative;
}

#my_favorite_category_contents .blur {
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
}

#my_favorite_category_contents .slider_item_title {
	color: var(--white--color);
	font-size: 1.5vw;
	z-index: 3;
	position: absolute;
	left: 20px;
	bottom: 18px;
}

.slider_contents .item1 .blur,
.slider_contents .item3 .blur,
.slider_contents .item5 .blur,
.slider_contents .item7 .blur {
	background: linear-gradient(0deg, rgb(106, 155, 55), rgba(106, 155, 55, 0.2));
}

.slider_contents .item2 .blur,
.slider_contents .item4 .blur,
.slider_contents .item6 .blur {
	background: linear-gradient(0deg, rgb(40, 104, 167), rgba(40, 104, 167, 0.2));
}



#my_favorite_category_contents .slider_item_img_grid {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 4px;
	position: absolute;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
}

#my_favorite_category_contents .img_grid_item {
	background-size: cover;
}

#my_favorite_category_contents .item1 .grid_item1,
#my_favorite_category_contents .item3 .grid_item1,
#my_favorite_category_contents .item5 .grid_item1,
#my_favorite_category_contents .item7 .grid_item1 {
	background-image: url(https://occ-0-1361-2219.1.nflxso.net/dnm/api/v6/1lcgfy_NA26l7dfd356LqCUdNPM/AAAABRoXrAmJwyv-V8F0krn1Z5VqBTzZ-O7WopPmFx7B1yYeDHO9Q8un9UseqzNfu0IM30CvMy2yxwPKcqGFb9NkssQN97TmFrC1Fhr4jga4lU64qwgXTA.webp?r=ac5);
}

#my_favorite_category_contents .item1 .grid_item2,
#my_favorite_category_contents .item3 .grid_item2,
#my_favorite_category_contents .item5 .grid_item2,
#my_favorite_category_contents .item7 .grid_item2 {
	background-image: url(https://occ-0-1361-2219.1.nflxso.net/dnm/api/v6/1lcgfy_NA26l7dfd356LqCUdNPM/AAAABfRvdxJloGPwtQc5vGK857hUEUTbwYzpR28WtibJVT6Q0_Le5B72qxW9_fKnOIYLJ9T6Wc5hg4_XMlRsp6KiOr-dUa6ARV08GQyS8YG3Y_-xaoYiKQ.webp?r=328);
}

#my_favorite_category_contents .item1 .grid_item3,
#my_favorite_category_contents .item3 .grid_item3,
#my_favorite_category_contents .item5 .grid_item3,
#my_favorite_category_contents .item7 .grid_item3 {
	background-image: url(https://occ-0-1361-2219.1.nflxso.net/dnm/api/v6/1lcgfy_NA26l7dfd356LqCUdNPM/AAAABZsOP49GCnuRKZNdNx0ZhL_QXOeKi0QQcTDhKjajMqRqommE2IUURr6B1fj1CPrXzG7QnuOY8fyeLPO-RFijC5NsqUVTJjeH5vjk_L-4W983Nw4wRw.webp?r=dd3);
}

#my_favorite_category_contents .item1 .grid_item4,
#my_favorite_category_contents .item3 .grid_item4,
#my_favorite_category_contents .item5 .grid_item4,
#my_favorite_category_contents .item7 .grid_item4 {
	background-image: url(https://occ-0-1361-2219.1.nflxso.net/dnm/api/v6/1lcgfy_NA26l7dfd356LqCUdNPM/AAAABeTJEIWnErd5YYM9VHte3iz5irQB3NJbiJL40jgRcyGT5uae-Yv7IidQ2-JylwkLBQ2edJOuTUagQcBq3_yDETU5rtBCr_zpXNDVC4PTgmgosAaOgA.webp?r=99a);
}


#my_favorite_category_contents .item2 .grid_item1,
#my_favorite_category_contents .item4 .grid_item1,
#my_favorite_category_contents .item6 .grid_item1 {
	background-image: url(https://occ-0-1361-2219.1.nflxso.net/dnm/api/v6/1lcgfy_NA26l7dfd356LqCUdNPM/AAAABc3fDiYQGHagvbok5c-t_zAcJyHMOJHyO1GTbWL5BX74tjl_SxbKGr5excQjVCuK-H7pRSLE1x2M-74vIkgd1OwgZrm8ZHatGwEPfauxUParVYXmVQ.webp?r=8a5);
}

#my_favorite_category_contents .item2 .grid_item2,
#my_favorite_category_contents .item4 .grid_item2,
#my_favorite_category_contents .item6 .grid_item2 {
	background-image: url(https://occ-0-1361-2219.1.nflxso.net/dnm/api/v6/1lcgfy_NA26l7dfd356LqCUdNPM/AAAABaHuSUfJpYcfiPC-psOQyA0Vj8MOdTItxFYackypaX1QAivZqcXCKKd7NE7XS5qI8FJwe2k0uSFSDYXyBo9MUtgq3u6Q8snjliQIEh98GAQkWLq6NQ.webp?r=dd5);
}

#my_favorite_category_contents .item2 .grid_item3,
#my_favorite_category_contents .item4 .grid_item3,
#my_favorite_category_contents .item6 .grid_item3 {
	background-image: url(https://occ-0-1361-2219.1.nflxso.net/dnm/api/v6/1lcgfy_NA26l7dfd356LqCUdNPM/AAAABTVqsmE-Z4zAGUJ0WCaHzlSMSJhq7t2vhhYm5zAD2P-6mcae__jYSmeV8Lzbhra6OPO4lvLV1Vx2zlzYt9XLLhFJr2nCiRVzaZFTtzGLqhFhBH9u2A.webp?r=ff4);
}

#my_favorite_category_contents .item2 .grid_item4,
#my_favorite_category_contents .item4 .grid_item4,
#my_favorite_category_contents .item6 .grid_item4 {
	background-image: url(https://occ-0-1361-2219.1.nflxso.net/dnm/api/v6/1lcgfy_NA26l7dfd356LqCUdNPM/AAAABeuI6yze1hN0ybVY0poIHOd845Hrtus4SY8SJC6w6aXj5rNr6dAhWZzsczIaZ1BKwK9OaP2nVpdBlfJwfNb-avcBdOqyValEWmU-nSeNp1jG462dsg.webp?r=7db);
}

#bottom_info {
	margin: 70px auto 0;
	border: 1px solid burlywood;
	padding: 0 4%;
	max-width: 980px;
}

#bottom_info .sns {
	display: flex;
	margin-bottom: 1rem;
}

#bottom_info .sns a {
	font-size: 30px;
	margin-right: 25px;
	color: gray;
}

#bottom_info .settings {
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-columns: 25% 25% 25% 25%;
	margin-bottom: 15px;
}

#bottom_info .settings li {
	margin-bottom: 16px;
}

#bottom_info .settings a {
	color: gray;
	font-size: 13px;
}

#bottom_info .service_code button {
	color: gray;
	margin-bottom: 20px;
	padding: .8rem;
	border: 1px solid gray;
}

#bottom_info .company_info {
	margin-bottom: 15px;
	color: gray;
	font-size: 11px;
}

#bottom_info .company_info .copy-text-block {
	margin-top: 4px;
	line-height: 1.4;
}
