html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Css Customize start!  */
:root {
	/* Color */
	--black--color:#141414;
	--white--color:#fff;
	--dark--gray--color:#e5e5e5;
	--gray--btn--color:rgba(109,109,110,0.7);

	/* Font Size */
	--font--extra--large:20px;
	--font--large:18px;
	--font--extra--medium:16px;
	--font--medium:14px;

	/* margin */
	--margin--size:20px;
}

html {
	font-size: 10px;
}

body {
	background-color: black;
	width: 100%;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

a {
  /* a태그 밑줄 제거 */
  text-decoration: none;
}

/* Header Start! */
.main_header {
	display: flex;
	align-items: center;
	padding: 0 4%;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;	
  /* 임시 border */
  /* border: 1px red solid; */
}

header {
  height: 68px;
}

@media screen and (max-width: 950px) {
  header {
    height: 41px;
  }

  header #btn_end #user_toggle button {
    display: none;
  }
}

#main_logo a img {
    width: 92.5px;
    height: 25px;
    margin-right: 25px;
}

header #category {
	flex: 1;
}

header #category ul {
	display: flex;
}

header #category #category_menu {
  display: none;
}

header #category ul li a {
	margin-left: var(--margin--size);
	color: var(--dark--gray--color);
	font-size: var(--font--medium);
}

header #category ul li i {
  margin-left: calc(var(--margin--size) / 4);
  color: var(--dark--gray--color);
	font-size: var(--font--medium);
}

@media screen and (max-width: 885px) {
  header #category #category_menu {
    display: flex;
  }

  header #category .category_not_menu {
    display: none;
  }
}

header #category ul li a.active {
	color: var(--white--color);
	cursor: default;
}

header #btn_end {
	display: flex;
	align-items: center;
}

header #btn_end a {
	color: var(--white--color);
}

header #btn_end .btn_end_child {
	margin-right: var(--margin--size);
}

header #btn_end #search_btn {
	font-size: var(--font--large);
	padding: 0 6px;
}

header #btn_end #kids {
	font-size: var(--font--medium);
}

@media screen and (max-width: 1100px) {
  header #btn_end #kids {
    display: none;
  }
}

header #btn_end #notification {
	font-size: var(--font--extra--large);
	padding: 0 6px;
}

header #btn_end #user_toggle {
	display: flex;
}

header #btn_end #user_toggle img {
	border-radius: 4px;
}

header #btn_end #user_toggle button {
	color: var(--white--color);
	margin-left: calc(var(--margin--size) / 3);
	font-size: var(--font--extra--medium);
}

header #btn_end #user_toggle button:hover {
  transform: rotate(180deg);
  transition: transform 300ms ease-in-out;
} 





/* Header 끝 */

/* Main 시작 */

#top_contents img {
	width: 100vw;
  height: 100vh;
	position: relative;
	top: 0;
}

#top_contents_wrapper {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  
  /* border: 1px blue solid; */
}

#top_img_metadata {
  position: relative;
  top: 9vw;
  left: 4%;
	width: 36%;
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
}

#top_img_metadata .top_img_metadata_title {
  width: 100%;
  height: 13.2vw;
	margin-bottom: 1.2vw;
}

#top_img_metadata_contents {
  margin-top: .5vw;
	color: var(--white--color);
	font-size: 1.4vw;
	line-height: normal;
	/* 임시 border */
	/* border: 1px solid yellow;  */
}

#top_img_metadata_btns {
	margin-top: 1.5vw;
	/* 임시 border
	border: 1px solid orange; */
	display: flex;
}

#top_img_metadata_btns .metadata_btn {
	padding: 1.3rem 3.7rem 1.3rem 3.3rem;
	border-radius: 4px;
	font-size: 1.6rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

#top_img_metadata_btns #play_link #play_btn {
	background-color: var(--white--color);
	color: var(--black--color);
	display: flex;
}

#top_img_metadata_btns .btn_space {
	width: 1rem;
}

#top_img_metadata_btns #detail {
	display: flex;
	background-color: var(--gray--btn--color);
	color: var(--white--color);
}

.contents_div {
  margin-top: 3vw;
}

.contents_div h2 {
	margin-bottom: 1.5rem;
	padding: 0 4%;
}

.contents_div .contents_title {
	color: var(--white--color);
	font-size: 1.4vw;
}

#famous_contents {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


.contents_grid,
#famous_contents .contents_grid {
  /* border: 1px solid brown; */
  width: 100%;
}

.contents_grid .slider {
	padding: 0 4%;
}

.slider_contents {
	display: flex;
  flex-wrap: nowrap;
  overflow-x: visible;
  overflow: scroll;
	justify-content: space-between;
}

.slider_contents .slider_item,
#famous_contents .slider_contents .slider_item {
  flex: 0 0 auto;
}

.slider_contents .slider_item img {
	border-radius: 4px;
  padding: 0 2px;
  width: 15vw;
}

#famous_contents .slider_contents .slider_item img {
  border-radius: 4px;
  padding: 0 2px;
  width: 15vw;
  height: 15vh;
}





/* Footer  */

#bottom_info {
	margin: 70px auto 0;
	/* border: 1px solid burlywood; */
	padding: 0 4%;
	max-width: 980px;
}

#bottom_info .sns {
	display: flex;
	margin-bottom: 1rem;
}

#bottom_info .sns a {
	font-size: 30px;
	margin-right: 25px;
	color: gray;
}

#bottom_info .settings {
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-columns: 25% 25% 25% 25%;
	margin-bottom: 15px;
}

#bottom_info .settings li {
	margin-bottom: 16px;
}

#bottom_info .settings a {
	color: gray;
	font-size: 13px;
}

#bottom_info .service_code button {
	color: gray;
	margin-bottom: 20px;
	padding: .8rem;
	border: 1px solid gray;
}

#bottom_info .company_info {
	margin-bottom: 15px;
	color: gray;
	font-size: 11px;
}

#bottom_info .company_info .copy-text-block {
	margin-top: 4px;
	line-height: 1.4;
}

