html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#second {
  width: 1000px;
  height: 700px;
  border: 1px solid black;
  
  display: flex;
  flex-direction: column;
}

.bar {
  flex: 1;
}

#top {
  display: flex;
  flex-direction: row;
}

#top_left {
  flex: 6;
  background-color: brown;
}

#top_right {
  flex: 4;
  display: flex;
  flex-direction: column;
}

#top_right_top {
  flex:1;
  background-color: chocolate;
}

#top_right_bottom {
  flex: 1;
  background-color: cornflowerblue;
}

#middle {
  background-color: royalblue;
}

#bottom {
  background-color: salmon;
  display: flex;
}

.bar2 {
  flex: 1;
}

#bottom1 {
  background-color: goldenrod;
}

#bottom2 {
  background-color: lightsalmon;
}

#bottom3 {
  background-color: orchid;
}

#bottom4 {
  background-color: teal;
}

#bottom5 {
  background-color: tomato;
}